[user]
  name = chroju
  email = chroju@users.noreply.github.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPzvYJ8N3SJpqp/SZZ8IvKVC+KVoUfO2IWvrebguscRq

[github]
  user = chroju

[color]
  status = auto
  diff = auto
  branch = auto
  grep = auto

[init]
  templatedir = ~/.gittemplates
  defaultBranch = main

[push]
  default = current

[pull]
  ff = only

[merge]
  ff = false
  conflictstyle = zdiff3

[rebase]
  autostash = true

[help]
  autocorrect = prompt

[core]
  editor = vim
  pager = delta
  attributesfile = ~/.gitattributes
  quotepath = false

[commit]
  template = ~/.gitmessage
  gpgsign = true
  verbose = true

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse

[diff]
  renames = copies
  algorithm = histogram

[diff "ansible-vault"]
  textconv = ansible-vault view
  cachetextconv = true

[diff "ansible-app-vault"]
  textconv = ansible-vault view --vault-password-file ~/.app_vault_password
  cachetextconv = true

[alias]
  # shorter commands
  a  = add
  aa = add --all
  cm = commit
  d  = diff
  ps = push
  pso = push origin
  s  = status -s
  sb = status -s --branch
  ss = status
  sh = show

  # branch
  create-branch = checkout -b
  delete-branch = branch -d
  delete-push = push --delete
  delete-stage = rm --cached

  # undo
  undo-merge = merge --abort
  undo-stage = reset -q HEAD --
  undo-all = !git reset -q --hard HEAD -- && git clean -d -f
  overwrite-commit = commit --amend

  # show all
  branches = branch -a
  tags = tag
  stashes = stash list
  remotes = remote -v

  # rename commands
  graph = log --graph --oneline --decorate --name-status
  logs =  log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=short

[ghq]
  root = ~/dev/src

[gpg]
  format = ssh

# [url "ssh://git@github.com/"]
# 	insteadOf = https://github.com/

[includeIf "gitdir:~/dev/src/github.com/globis-org/**"]
  path = ~/.gitconfig.work

[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[scalar]
	repo = /Users/jutaro.numata/dev/src/github.com/globis-org/hodai-2c-lp
	repo = /Users/jutaro.numata/dev/src/github.com/globis-org/hodai-2c-lp/src
[maintenance]
	repo = /Users/jutaro.numata/dev/src/github.com/globis-org/hodai-2c-lp
	repo = /Users/jutaro.numata/dev/src/github.com/globis-org/hodai-2c-lp/src
