[user]
  name = chroju
  email = chroju@users.noreply.github.com
  signingkey = 20B812C8

[github]
  user = chroju

[color]
  status = auto
  diff = auto
  branch = auto
  grep = auto

[init]
  templatedir = ~/.gittemplates
  defaultBranch = main

[push]
  default = current

[pull]
  ff = only

[merge]
  ff = false

[core]
  excludesfile = ~/.gitignore
  editor = vim
  pager = delta
  attributesfile = ~/.gitattributes
  quotepath = false

[commit]
  template = ~/.gitmessage
  gpgsign = true

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse

[diff]
  renames = copies

[diff "ansible-vault"]
  textconv = ansible-vault view
  cachetextconv = true

[alias]
  # shorter commands
  a  = add
  aa = add --all
  cm = commit
  d  = diff
  ps = push
  pso = push origin
  s  = status -s
  sb = status -s --branch
  ss = status
  sh = show

  # branch
  create-branch = checkout -b
  delete-branch = branch -d
  delete-push = push --delete
  delete-stage = rm --cached

  # undo
  undo-merge = merge --abort
  undo-stage = reset -q HEAD --
  undo-all = !git reset -q --hard HEAD -- && git clean -d -f
  overwrite-commit = commit --amend

  # show all
  branches = branch -a
  tags = tag
  stashes = stash list
  remotes = remote -v

  # rename commands
  graph = log --graph --oneline --decorate --name-status
  logs =  log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=short

[ghq]
  root = ~/repos/src

[gpg]
	program = /usr/local/bin/gpg

# [url "ssh://git@github.com/"]
# 	insteadOf = https://github.com/

[includeIf "gitdir:~/repos/src/github.com/globis-org/**"]
  path = ~/.gitconfig.work
