[user]
  name = chroju
  email = chor.chroju@gmail.com

[github]
  user = chroju

[color]
  status = auto
  diff = auto
  branch = auto
  grep = auto

[push]
  default = tracking

[core]
  excludesfile = ~/.gitignore

[diff]
  renames = copies

[alias]
  a  = add
  aa = add --all
  br = branch
  bra = branch -a
  brd = branch -d
  co = checkout
  cob = checkout -b
  coo = checkout --ours
  cot = checkout --theirs
  cl = clone
  clr = clone --recursive
  cm = commit
  cmm = commit -m
  d  = diff
  f  = fetch
  lg = log
  lga = log --graph --decorate --online
  lgp = log -p
  mg = merge
  mgn = merge --no-ff
  ps = push
  psd = push --delete origin
  pso = push origin
  psm = push origin master
  pl = pull
  rsh = reset --hard
  s  = status -s
  sb = status -s --branch
  ss = status
  sh = show
  sba = show-branch --all

