[user]
  name = chroju
  email = chor.chroju@gmail.com

[github]
  user = chroju

[color]
  status = auto
  diff = auto
  branch = auto
  grep = auto

[push]
  default = tracking

[core]
  excludesfile = ~/.gitignore

[alias]
  a  = add
  aa = add .
  br = branch
  bra = branch -a
  cb = checkout -b
  cl = clone
  cm = commit
  cmm = commit -m
  d  = diff --color
  ps = push
  pl = pull
  s  = status -s
  ss = status
  sh = show

