[user]
  name = chroju
  email = chor.chroju@gmail.com

[github]
  user = chroju

[color]
  status = auto
  diff = auto
  branch = auto
  grep = auto

[init]
  templatedir = ~/.gittemplates

[push]
  default = tracking

[core]
  excludesfile = ~/.gitignore
  editor = vim

[commit]
  template = ~/.gitmessage

[diff]
  renames = copies

[alias]
  # shorter commands
  a  = add
  aa = add --all
  cm = commit
  d  = diff
  ps = push
  pso = push origin
  s  = status -s
  sb = status -s --branch
  ss = status
  sh = show

  # branch
  create-branch = checkout -b
  delete-branch = branch -d
  delete-push = push --delete
  delete-stage = rm --cached

  # undo
  undo-merge = merge --abort
  undo-stage = reset -q HEAD --
  undo-all = !git reset -q --hard HEAD -- && git clean -d -f
  overwrite-commit = commit --amend

  # show all
  branches = branch -a
  tags = tag
  stashes = stash list
  remotes = remote -v

  # rename commands
  graph = log --graph --oneline --decorate --name-status

[ghq]
  root = ~/repos/src

[diff "ansible-vault"]
  textconv = ansible-vault view
  cachetextconv = true
