:root {
    /* Polar Night */
    --nord-polar-night-0: #2e3440; /* 背景 */
    --nord-polar-night-1: #3b4252; /* 入力エリア、カード、パネルなど */
    --nord-polar-night-2: #434c5e; /* hover */
    --nord-polar-night-3: #4c566a; /* コメント、補助テキストなど */
  
    /* Snow Storm */
    --nord-snow-storm-0: #d8dee9; /* 基本テキスト色 */
    --nord-snow-storm-1: #e5e9f0; /* 少し強調したい文字色 */
    --nord-snow-storm-2: #eceff4; /* 特に目立たせたい文字色 */
  
    /* Frost */
    --nord-frost-0: #8fbcbb;
    --nord-frost-1: #88c0d0;
    --nord-frost-2: #81a1c1; /* 関数名などへのアクセント */
    --nord-frost-3: #5e81ac; /* 操作を促す重要な要素に */
  
    /* Aurora */
    --nord-aurora-red: #bf616a; /* error, danger */
    --nord-aurora-orange: #d08770; /* warn */
    --nord-aurora-yellow: #ebcb8b; /* attention */
    --nord-aurora-green: #a3be8c; /* siuccess, added */
    --nord-aurora-purple: #b48ead; /* special */

    --tridactyl-font-family: "San Francisco", sans-serif;
    --tridactyl-font-family: "Moralerspace Argon", "San Francisco";
    --tridactyl-bg: var(--nord-polar-night-0);
    --tridactyl-fg: var(--nord-snow-storm-0);

    --tridactyl-status-font-size: 12px;
    --tridactyl-status-font-family: "Moralerspace Argon", "San Francisco";
    --tridactyl-status-font-bg: var(--tridactyl-cmdl-bg);
    --tridactyl-status-border: 2px solid black;
    --tridactyl-status-border-radius: 4px;

    --tridactyl-header-font-size: 16px;

    --tridactyl-of-bg: var(--nord-polar-night-2);
    --tridactyl-of-fg: var(--nord-snow-storm-1);

    --tridactyl-hintspan-fg: var(--nord-polar-night-0);
    --tridactyl-hintspan-bg: var(--nord-aurora-yellow);
    --tridactyl-hintspan-border-color: var(--nord-aurora-orange);
    --tridactyl-hintspan-border-width: 1px;

    --tridactyl-hint-active-fg: var(--nord-polar-night-0);
    --tridactyl-hint-active-bg: var(--nord-aurora-red);
    --tridactyl-hint-active-outline: 1px solid var(--nord-aurora-orange);

    --tridactyl-hint-bg: rgba(13, 31, 54, 0.25);
    --tridactyl-hint-outline: 1px solid var(--nord-aurora-orange);

    --tridactyl-cmdl-font-size: 1.5rem;
    --tridactyl-cmdl-font-family: "Moralerspace Argon", "San Francisco";
    --tridactyl-cmplt-option-height: 1.9em;

    --tridactyl-border-radius: 4px;

    --tridactyl-url-fg: #8fbcbb;
}

:root.TridactylOwnNamespace {
    scrollbar-width: thin;
}

:root.TridactylOwnNamespace a {
    color: var(--nord-frost-0);
}

:root.TridactylOwnNamespace code {
    background-color: var(--nord-polar-night-0);
    padding: 3px 7px;
}

:root #command-line-holder {
    order: 1;
    border: 0.8px solid var(--nord-snow-storm-0);
    border-radius: var(--tridactyl-border-radius) !important;
}

:root #command-line-holder,
:root #tridactyl-input {
    border-radius: var(--tridactyl-border-radius) !important;
}

:root #tridactyl-colon::before {
    content: "";
}

:root #tridactyl-input {
    width: 98%;
    margin: 0.3rem;
    padding: 0.7rem;
    /* background: var(--nord-polar-night-1); */
}

:root #completions table {
    font-weight: 200;
    table-layout: fixed;
    padding: 1rem;
    padding-top: 0;
}

:root #completions > div {
    max-height: calc(20 * var(--tridactyl-cmplt-option-height));
    min-height: calc(10 * var(--tridactyl-cmplt-option-height));
    border: 0.8px solid var(--nord-snow-storm-0);
    border-radius: var(--tridactyl-border-radius) !important;
}

:root #completions {
    border: none !important;
    font-family: var(--tridactyl-font-family);
    order: 2;
    margin-top: 10px;
    border-radius: var(--tridactyl-border-radius);
}

:root #completions .HistoryCompletionSource table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

:root #completions .BufferCompletionSource table {
    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

:root #completions table tr .title {
    width: 50%;
}

:root #completions tr .documentation {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

:root #completions .sectionHeader {
    background: transparent;
    padding: 1rem 1rem 0.4rem !important;
}

:root #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    filter: drop-shadow(0px 0px 6px var(--nord-polar-night-1)) !important;
    color-scheme: only light; /* Prevent Firefox from adding a white background on dark-mode sites */
    opacity: 0.95;
}

:root .TridactylStatusIndicator {
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    font-weight: 200 !important;
    padding: 5px !important;
}

